@model UserLoginDto
@{
    ViewData["Title"] = "Giriş";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="text-center">
        <h1 class="align-self-center my-2">Sisteme Giriş</h1>
        <hr />
    </div>

    <form class="w-75 shadow p-4 my-2 mx-auto" method="post" asp-action="Login">
        <div class="form-group">
            <label>E-Posta</label>
            <input type="email" asp-for="Email" class="form-control" aria-describedby="emailHelp" placeholder="E-Posta adresiniz...">
        </div>
        <div class="form-group">
            <label>Şifre</label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Şifreniz...">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" asp-for="Remember" class="form-check-input">
            <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <p>Hesabınız yok mu? <a asp-action="Index" asp-controller="Register" class="btn-link">Kayıt olun.</a></p>
        <button type="submit" class="btn btn-primary">Giriş</button>
    </form>

</div>

